.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border: 2px solid green;
  margin:auto;
  width: 70%;
  border-collapse: collapse;

}
.table-wrapper{
  height: 30%;
}

tr {
  /* border: 1px solid green; */
  padding: 15px;
}
th {
  border: 1px solid green;
  padding: 5px 10px 5px 10px;
  font-size:0.8rem;
  text-align: left;
}
.page-range-container {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
li {
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;
}
li.active {
  background-color: rgba(0, 0, 0, 0.08);
  color: red;
  cursor: default;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
